**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# Netbeans
nbactions*.xml
nb-configuration*.xml


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Extra Folders
/unused
**/.DS_Store